@use "../utils/variables" as *;

@font-face {
    font-family: OswaldLight;
    src: url(/assets/fonts/Oswald-Light.ttf);
}
@font-face {
    font-family: OswaldRegular;
    src: url(/assets/fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: OswaldMedium;
    src: url(/assets/fonts/Oswald-Medium.ttf);
}
@font-face {
    font-family: OswaldBold;
    src: url(/assets/fonts/Oswald-Bold.ttf);
}

.site-header {
    .header-nav {
        font-family: $oswaldregular;
        a {
            color: $white;
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    .header-actions {
        font-family: $oswaldregular;
        .search-box a {
            color: $white;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}
.slider-section {
    font-family: $oswaldregular;
    .slider-item {
        .slider-content {
            color: $white;
            text-transform: uppercase;
        }
        .shop-btn {
            a {
                color: $white;
                font-size: 17px;
                text-transform: uppercase;
                &:hover {
                    color: $black;
                }
            }
        }
    }
}
.categories-section {
    font-family: $oswaldregular;
    .category-item {
        h3 {
            color: $white;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}
.trending-section {
    font-family: $oswaldregular;
    .txt {
        font-size: 18px;
        color: $dark-gray;
    }
    .product-item {
        .product-details {
            text-align: center;
            .product-name a {
                color: $black;
                font-family: $oswaldlight;
                overflow: hidden;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .price-regular {
                font-family: $oswaldbold;
            }
            .price-old {
                font-family: $oswaldregular;
                color: $dark-gray;
            }
        }
    }
}
.collection-section {
    .collection-card {
        h1 {
            font-family: $oswaldbold;
            font-size: 3rem;
        }
        p {
            font-family: $oswaldlight;
            color: $dark-gray;
        }
        a {
            font-family: $oswaldmedium;
            text-transform: uppercase;
            font-size: 17px;
            color: $black;
        }
    }
}
.information-section {
    p {
        font-family: $oswaldbold;
        font-size: 22px;
        text-transform: uppercase;
        color: $white;
    }
    h1 {
        font-family: $oswaldbold;
        text-transform: uppercase;
        font-size: 86px;
    }
    a {
        font-family: $oswaldmedium;
        text-transform: uppercase;
        font-size: 17px;
        color: $black;
    }
}
.search-section {
    input {
        font-family: $oswaldregular;
        font-size: 30px;
        color: $black;
        &::placeholder {
            color: $gray;
        }
        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
    }
}
