@use "../utils/variables" as *;

@font-face {
    font-family: OswaldRegular;
    src: url(/assets/fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: OswaldMedium;
    src: url(/assets/fonts/Oswald-Medium.ttf);
}

.site-header {
    .header-nav {
        font-family: $oswaldmedium;
        a {
            color: $white;
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    .header-actions {
        font-family: $oswaldregular;
        button {
            color: $white;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

.slider-section {
    font-family: $oswaldregular;
    .slider-item {
        .slider-content {
          color: $white;
          text-transform: uppercase;
        }
        .shop-btn {
            a {
               color: $white;
               font-size: 17px;
               text-transform: uppercase;
                &:hover {
                    color: $black;
                }
            }
        }
        .orange{
            a{
                color: $orange;
                &:hover{
                    color: $white;
                }
            }
        }
    }
}
