@use "../utils/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}
.site-header {
    font-weight: 500;
    a {
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
    }
    .search {
        a {
            font-weight: 400;
            font-size: 16px;
        }
    }
}
.slider-section {
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    .shop-btn {
        a {
            color: $white;
            font-size: 17px;
            &:hover {
                color: $black;
            }
        }
    }
}
.categories-section {
    h1 {
        font-weight: 300;
        letter-spacing: 10px;
    }
    h3 {
        font-weight: 500;
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
    }
}
.products-section {
    color: $black;
    .txt {
        font-weight: 300;
        font-size: 20px;
        color: $dark-gray;
    }
    .product-details {
        text-align: center;
        .product-name a {
            font-weight: 300;
            font-size: 18px;
            color: $black;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .product-price {
            font-size: 16px;
        }
        .price-regular {
            font-weight: 600;
        }
        .price-old {
            font-weight: 400;
            color: $dark-gray;
        }
    }
}
.collection-section {
    h1 {
        font-weight: 700;
        font-size: 3rem;
    }
    p {
        font-weight: 300;
        color: $dark-gray;
    }
    a {
        font-weight: 500;
        font-size: 17px;
        color: $black;
        text-transform: uppercase;
    }
}
.information-section {
    font-weight: 700;
    text-transform: uppercase;
    p {
        font-size: 25px;
        color: $white;
    }
    h1 {
        font-size: 86px;
    }
    a {
        font-weight: 500;
        font-size: 17px;
        color: $black;
    }
}
.newsletter-section {
    text-transform: uppercase;
    .title {
        font-weight: 700;
        font-size: 40px;
    }
    .subtitle {
        font-weight: 400;
        font-size: 15px;
    }
    input[type="email"] {
        font-weight: 300;
        font-size: 16px;
    }
    button {
        font-weight: 500;
        font-size: 18px;
        color: $white;
    }
}
.site-footer {
    color: $white;
    h5 {
        font-weight: 700;
    }
    li {
        a {
            font-weight: 400;
            font-size: 16px;
            text-transform: capitalize;
            color: $gray;
        }
    }
}

@media screen and (max-width: 992px) {
    .site-header {
        .search {
            a {
                font-weight: 300;
                font-size: 14px;
            }
        }
        .sidebarmenu {
            a {
                font-weight: 400;
                color: $black;
            }
        }
    }
}
// .search-section {
//     input {
//         font-family: $oswaldregular;
//         font-size: 30px;
//         color: $black;
//         &::placeholder {
//             color: $gray;
//         }
//         &:focus {
//             &::placeholder {
//                 color: transparent;
//             }
//         }
//     }
// }
