/* Colors */

$white: #ffffff;
$black: #000000;
$orange: #ff9317;
$gray: #d9d9d9;
$dark-gray: #949494;

/* Fonts */

$oswaldlight: OswaldLight;
$oswaldregular: OswaldRegular;
$oswaldmedium: OswaldMedium;
$oswaldbold: OswaldBold;
