@use "../utils/variables" as *;

.product-item {
    .product-image {
        position: relative;
        
        .wishlist {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 36px;
            height: 36px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 50%;
            border: none;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;
            svg {
                .active {
                    stroke: $red;
                    fill: $red;
                }
            }
        }
        .discount-box {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: $black;
            padding: 5px 10px;
        }
        .addtocart {
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
            background-color: black;
            border: none;
            padding: 8px 10px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;
        }
    }
    &:hover {
        .wishlist {
            opacity: 1;
            visibility: visible;
        }
        .addtocart {
            opacity: 1;
            visibility: visible;
        }
    }
}
@media screen and (max-width: 768px) {
    .product-item {
        .wishlist {
            svg{
                width: 14px;
                height: 14px;
            }
        }
    }
}
