@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.slider-section {
    .slider-item {
        position: relative;
        .slider-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .shop-btn {
            a {
                @include main-btn;
            }
        }
    }

    // Swiper Pagination CSS
    .swiper-pagination-bullet-active {
        background: $white !important;
    }
}
