@use "../utils/variables" as *;

.slider-section {
    .slider-item {
        position: relative;
        .slider-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .shop-btn {
            a {
                background-color: rgba(255, 255, 255, 0.1);
                display: inline-block;
                padding: 3px 15px;
                border: 1px solid $white;
                border-radius: 5px;
                transition: 0.2s ease-in-out;
                &:hover {
                    background-color: $white;
                }
            }
        }
        .orange {
            a {
                border-color: $orange;
                &:hover {
                    background-color: $orange;
                }
            }
        }
    }

    .swiper-btn {
        transition: .2s ease-in-out;
        &::after {
            font-size: 20px !important;
            color: $white !important;
        }
    }
    .swiper-button-prev{
        &:hover{
            left: 7px !important;
        }
    }
    .swiper-button-next{
        &:hover{
            right: 7px !important;
        }
    }
}
