@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.slider-section {
    height: 100vh;
    .slider-item {
        position: relative;
        .slider-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .shop-btn {
            a {
                @include main-btn($white, rgba(255, 255, 255, 0.1), $white, $black);
            
                &:hover {
                    animation: none;
                }
            }
        }
    }

    // Swiper Pagination CSS
    .swiper-pagination-bullet-active {
        background: $white !important;
    }
}


