@use "../utils/variables" as *;
.site-footer {
    background-color: $footer-bg;

    .footer-top {
        padding: 50px 0;
        h5 {
            margin-bottom: 25px;
        }
        img {
            width: 80px;
            height: 80px;
        }
        .menu {
            li:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        .social-menu {
            display: flex;
            align-items: center;
            gap: 10px;
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                color: $white;
                transition: all 0.3s ease;
                &:hover {
                    color: $black;
                    background-color: $white;
                }
            }
        }
    }

    .footer-bottom {
        background-color: $black;
        padding: 20px 0;
        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .site-footer {
        .footer-top {
            text-align: center;
            h5 {
                margin: 25px 0;
            }
        }
        .social-menu {
            justify-content: center;
        }
    }
}
