@use "../utils/variables" as *;

.site-header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    z-index: 9;

    .header-nav {
        a {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                height: 1px;
                width: 0;
                background-color: $white;
                transition: 0.3s ease-in-out;
            }
            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: -5px;
                height: 1px;
                width: 0;
                background-color: $white;
                transition: 0.3s ease-in-out;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .header-actions {
        .search-box {
            background-color: transparent;
            padding: 5px 10px;
            border: 1px solid $white;
            border-radius: 5px;
        }
    }
}
.sticky {
    background-color: rgba(0, 0, 0, 0.1);
    animation: slideDown 0.35s ease-out;

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
}
