@use '../utils/variables' as *;

.search-area {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 9;
    padding: 20px 0;
    transition: 0.5s ease-in-out;

    .exit-search {
        img {
            cursor: pointer;
        }
    }
    .search-bar {
        border-bottom: 1px solid black;
        svg {
            width: 30;
            height: 30;
            path {
                stroke: black;
            }
        }
        input {
            width: 100%;
            outline: none;
            border: none;
            padding: 10px 0;
            background-color: transparent;
        }
        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            background: url("/assets/icons/reset.svg") no-repeat 50% 50%;
            background-size: contain;
            opacity: 1;
            cursor: pointer;
        }
    }
    .search-products{
        height: 60vh;
        background-color: white;
        overflow-y: scroll;
        border: 1px solid $gray;
        .title{
            padding: 10px;
            background-color: $black;
        }
    }
    .search-item{
        border-bottom: 1px solid $gray;
    }
}

.active-search-area {
    top: 0;
}
