@use "../utils/variables" as *;

.search-area {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 9;
    padding: 20px 0;
    transition: 0.5s ease-in-out;
    display: none;

    .exit-search {
        cursor: pointer;

        svg {
            path {
                stroke: white;
            }
        }
    }
    .search-bar {
        border-bottom: 1px solid white;
        svg {
            width: 30;
            height: 30;
            path {
                stroke: white;
            }
        }
        input {
            width: 100%;
            outline: none;
            border: none;
            padding: 10px 0;
            background-color: transparent;
        }
        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            background: url("/assets/icons/reset.svg") no-repeat 50% 50%;
            background-size: contain;
            opacity: 1;
            cursor: pointer;
        }
    }
    .search-products {
        max-height: 60vh;
        background-color: white;
        overflow-y: auto;
        .title {
            padding: 10px;
            background-color: $black;
        }
    }
    .search-item {
        border-bottom: 1px solid $gray;
    }
}

.active-search-area {
    display: block;
}
