@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.banner-btn:after {
  font-size: 20px !important;
  color: white !important;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.site-header {
  font-weight: 300;
}
.site-header a {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.site-header .search button {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.slider-section {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.slider-section .shop-btn a {
  color: #ffffff;
  font-size: 17px;
}
.slider-section .shop-btn a:hover {
  color: #000000;
}

.categories-section h2 {
  font-weight: 400;
  letter-spacing: 5px;
}
.categories-section h3 {
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.products-section {
  color: #000000;
  letter-spacing: 1px;
}
.products-section .txt {
  font-weight: 300;
  font-size: 20px;
  color: #949494;
}

.product-item .discount-box {
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
}
.product-item .product-image .addtocart {
  font-weight: 300;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
.product-item .product-details {
  text-align: center;
}
.product-item .product-details .product-name a {
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-item .product-details .product-price {
  font-size: 16px;
}
.product-item .product-details .price-regular {
  font-weight: 600;
}
.product-item .product-details .price-old {
  font-weight: 400;
  color: #949494;
}

.collection-section h1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
}
.collection-section p {
  font-weight: 300;
  color: #949494;
}
.collection-section a {
  font-weight: 500;
  font-size: 17px;
  color: #000000;
  text-transform: uppercase;
}

.information-section {
  font-weight: 700;
  text-transform: uppercase;
}
.information-section p {
  font-size: 25px;
  letter-spacing: 1px;
  color: #ffffff;
}
.information-section h1 {
  font-size: 86px;
  letter-spacing: 1px;
}
.information-section a {
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}

.newsletter-section {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.newsletter-section .title {
  font-weight: 700;
  font-size: 40px;
}
.newsletter-section .subtitle {
  font-weight: 400;
  font-size: 15px;
}
.newsletter-section input[type=email] {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
}
.newsletter-section button {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.site-footer {
  color: #ffffff;
  letter-spacing: 2px;
}
.site-footer h5 {
  font-weight: 700;
}
.site-footer li a {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #d9d9d9;
}
.site-footer p {
  font-weight: 400;
  font-size: 14px;
}

.search-area input {
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  text-transform: capitalize;
}
.search-area input::-moz-placeholder {
  color: #d9d9d9;
  text-transform: uppercase;
}
.search-area input::placeholder {
  color: #d9d9d9;
  text-transform: uppercase;
}
.search-area input:focus::-moz-placeholder {
  color: transparent;
}
.search-area input:focus::placeholder {
  color: transparent;
}
.search-area .title {
  color: #ffffff;
}
.search-area .title h5 {
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
.search-area .title a {
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.search-area .search-item .product-details {
  text-align: center;
}
.search-area .search-item .product-details .product-name a {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-area .search-item .product-details .product-price {
  font-size: 16px;
}
.search-area .search-item .product-details .price-regular {
  font-weight: 600;
}
.search-area .search-item .product-details .price-old {
  font-weight: 400;
  color: #949494;
}

.about .section-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.about .section-subtitle {
  font-weight: 600;
  font-size: 46px;
  letter-spacing: 2.75px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about .section-paragraph {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 26px;
  color: #949494;
}
.about .section-description {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.4px;
  line-height: 42px;
  color: #949494;
}
.about .section-grid-title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 26px;
  text-transform: uppercase;
}
.about a {
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.contact-section h1 {
  letter-spacing: 1px;
}
.contact-section input,
.contact-section textarea,
.contact-section button {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.faq-section {
  color: white;
}
.faq-section h1 {
  color: black;
}
.faq-section h5 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.faq-section p {
  font-weight: 200;
  line-height: normal;
  text-align: center;
  color: #d9d9d9;
}

@media screen and (max-width: 992px) {
  .site-header .search a {
    font-weight: 300;
    font-size: 14px;
  }
  .site-header .sidebar a {
    font-weight: 500;
    color: #000000;
  }
  .categories-section h1 {
    letter-spacing: 5px;
  }
  .products-item .product-details .product-name a {
    font-size: 18px;
  }
  .products-item .product-details .product-price {
    font-size: 16px;
  }
  .collection-section h1,
  .collection-section p {
    text-align: center;
  }
  .information-section p {
    font-size: 20px;
  }
  .information-section h1 {
    font-size: 56px;
  }
  .search-section input {
    font-size: 16px;
  }
  .search-section .title h5 {
    font-size: 16px;
  }
  .search-section .search-item .product-details .product-name a {
    font-size: 18px;
  }
  .search-section .search-item .product-details .product-price {
    font-size: 16px;
  }
  .about .section-title {
    font-size: 18px;
  }
  .about .section-subtitle {
    font-size: 26px;
    letter-spacing: 2.75px;
    line-height: 50px;
  }
  .about .section-description {
    font-size: 22px;
    line-height: 32px;
  }
}
@media screen and (max-width: 768px) {
  .product-item .product-details .product-name a {
    font-size: 14px;
  }
  .product-item .product-details .product-price {
    font-size: 12px;
  }
  .product-item .product-image .addtocart {
    font-size: 12px;
  }
  .collection-section h1 {
    font-size: 30px;
  }
  .collection-section a {
    font-size: 14px;
  }
  .information-section p {
    font-size: 15px;
  }
  .information-section h1 {
    font-size: 36px;
  }
  .information-section a {
    font-size: 14px;
  }
  .newsletter-section .title {
    font-size: 30px;
  }
  .newsletter-section .subtitle {
    font-size: 13px;
  }
  .newsletter-section input[type=email] {
    font-size: 14px;
  }
  .newsletter-section button {
    font-size: 16px;
  }
  .search-section input {
    font-size: 14px;
  }
  .search-section .title h5 {
    font-size: 14px;
  }
  .search-section .search-item .product-details .product-name a {
    font-size: 14px;
  }
  .search-section .search-item .product-details .product-price {
    font-size: 14px;
  }
}
.slider-section {
  z-index: 7;
  height: 100vh;
}
.slider-section .slider-item {
  position: relative;
}
.slider-section .slider-item .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-section .slider-item .shop-btn a {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.slider-section .slider-item .shop-btn a:hover {
  background-color: #ffffff;
  color: #000000;
}
.slider-section .slider-item .shop-btn a:hover {
  animation: none;
}

.product-item .product-image {
  position: relative;
}
.product-item .product-image .wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.product-item .product-image .wishlist svg .active {
  stroke: #D64B59;
  fill: #D64B59;
}
.product-item .product-image .discount-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000000;
  padding: 5px 10px;
}
.product-item .product-image .addtocart {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color: black;
  border: none;
  padding: 8px 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.product-item:hover .wishlist {
  opacity: 1;
  visibility: visible;
}
.product-item:hover .addtocart {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .product-item .wishlist svg {
    width: 14px;
    height: 14px;
  }
}
.category-item {
  position: relative;
  overflow: hidden;
}
.category-item img {
  transition: 0.3s ease-in-out;
}
.category-item a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 8;
  transition: 0.2s ease-in-out;
}
.category-item a:hover:after {
  opacity: 1;
}
.category-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.category-item:hover img {
  transform: scale(1.1);
}
.category-item:hover h3 {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  .category-item a:after {
    opacity: 1;
  }
  .category-item h3 {
    opacity: 1;
    visibility: visible;
  }
}
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  z-index: 8;
}
.site-header .header-nav a {
  position: relative;
}
.site-header .header-nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}
.site-header .header-nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}
.site-header .header-nav a:hover::before {
  width: 100%;
}
.site-header .header-nav a:hover::after {
  width: 100%;
}
.site-header .header-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.site-header .header-actions .search {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.site-header .header-actions .search button {
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
}
.site-header .header-actions .hamburger {
  display: none;
}
.site-header .sidebar {
  display: none;
}

.sticky {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  animation: slideDown 0.35s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .site-header .header-logo img {
    width: 30px;
    height: 30px;
  }
  .site-header .header-nav {
    display: none;
  }
  .site-header .header-actions .user {
    display: none;
  }
  .site-header .header-actions .hamburger {
    display: block;
  }
  .site-header .sidebar {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    z-index: 7;
    transition: 0.3s ease-in-out;
  }
  .site-header .sidebar .menu-list li {
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .site-header .sidebar .top {
    text-align: end;
    padding: 10px 0;
  }
  .site-header .sidebar .top .exit {
    border: 0;
    background-color: transparent;
  }
  .site-header .active {
    left: 0;
  }
}
.site-footer {
  background-color: #101010;
}
.site-footer .footer-top {
  padding: 50px 0;
}
.site-footer .footer-top h5 {
  margin-bottom: 25px;
}
.site-footer .footer-top img {
  width: 80px;
  height: 80px;
}
.site-footer .footer-top .menu li:not(:last-child) {
  margin-bottom: 10px;
}
.site-footer .footer-top .menu li a:hover {
  text-decoration: underline;
}
.site-footer .footer-top .social-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.site-footer .footer-top .social-menu a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.site-footer .footer-top .social-menu a:hover {
  color: #000000;
  background-color: #ffffff;
}
.site-footer .footer-bottom {
  background-color: #000000;
  padding: 20px 0;
}
.site-footer .footer-bottom p {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .site-footer .footer-top {
    text-align: center;
  }
  .site-footer .footer-top h5 {
    margin: 25px 0;
  }
  .site-footer .social-menu {
    justify-content: center;
  }
}
.search-area {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 9;
  padding: 20px 0;
  transition: 0.5s ease-in-out;
}
.search-area .exit-search img {
  cursor: pointer;
}
.search-area .search-bar {
  border-bottom: 1px solid black;
}
.search-area .search-bar svg {
  width: 30;
  height: 30;
}
.search-area .search-bar svg path {
  stroke: black;
}
.search-area .search-bar input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 0;
  background-color: transparent;
}
.search-area .search-bar input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url("/assets/icons/reset.svg") no-repeat 50% 50%;
  background-size: contain;
  opacity: 1;
  cursor: pointer;
}
.search-area .search-products {
  height: 60vh;
  background-color: white;
  overflow-y: scroll;
  border: 1px solid #d9d9d9;
}
.search-area .search-products .title {
  padding: 10px;
  background-color: #000000;
}
.search-area .search-item {
  border-bottom: 1px solid #d9d9d9;
}

.active-search-area {
  top: 0;
}

.collection-section a {
  background-color: #ffffff;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.collection-section a:hover {
  background-color: #000000;
  color: #ffffff;
}
.collection-section .collection-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.information-section {
  background-image: url("/assets/images/1165428802_9_1_1.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 96vh;
  max-width: 100%;
  position: relative;
}
.information-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.information-section .content a {
  background-color: transparent;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.information-section .content a:hover {
  background-color: #000000;
  color: #ffffff;
}

.newsletter-section {
  background-color: #E6FFDA;
  height: 60vh;
}
.newsletter-section .title {
  max-width: 45%;
}
.newsletter-section input[type=email] {
  max-width: 343px;
  width: 100%;
  height: 55px;
  border: 1px solid #949494;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0 16px;
  outline: none;
}
.newsletter-section button {
  display: block;
  max-width: 343px;
  width: 100%;
  height: 57px;
  border-radius: 6px;
  background-color: #000000;
  border: 1px solid #000000;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .collection-section a {
    padding: 3px 10px;
  }
  .collection-section .collection-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .information-section {
    background-attachment: local;
    height: 36vh;
  }
  .information-section .content {
    width: 80%;
  }
  .information-section .content a {
    padding: 3px 10px;
  }
  .newsletter-section .title {
    max-width: 85%;
  }
}
.all-about-section:nth-child(even) {
  flex-direction: row-reverse;
}

.all-about-section {
  display: flex;
  justify-content: space-between;
}
.all-about-section .section-text {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 120px;
}
.all-about-section .section-grid-title {
  margin-bottom: 10px;
}
.all-about-section .section-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.concept-section .section-image {
  background-image: url("/assets/images/about/company_01_01.jpg");
}

.history-section .section-image {
  background-image: url("/assets/images/about/company_01_02.jpg");
}

.collections-section .section-image {
  background-image: url("/assets/images/about/company_01_03.jpg");
}

.numbers-section .section-image {
  background-image: url("/assets/images/about/company_01_04.jpg");
}

.workwithus-section .section-image {
  background-image: url("/assets/images/about/company_01_05.jpg");
}
.workwithus-section a {
  background-color: white;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.workwithus-section a:hover {
  background-color: black;
  color: white;
}

@media (max-width: 992px) {
  .all-about-section:nth-child(even) {
    flex-direction: column;
  }
  .all-about-section {
    flex-direction: column;
  }
  .all-about-section .section-text {
    min-height: 50vh;
    padding: 80px 20px 50px;
  }
  .all-about-section .section-image {
    min-height: 50vh;
  }
}
.contact-section {
  padding: 8rem 0;
}
.contact-section h1 {
  margin-bottom: 20px;
}
.contact-section form {
  display: flex;
  flex-direction: column;
}
.contact-section form input,
.contact-section form textarea {
  border: 1px solid black;
  outline: none;
  margin-bottom: 10px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.contact-section form button {
  margin-top: 20px;
  background-color: black;
  text-align: center;
  padding: 15px 0;
  border: none;
  color: white;
}

.faq-section {
  padding: 8rem 0;
}
.faq-section h1 {
  margin-bottom: 20px;
}
.faq-section .faq-item {
  padding: 30px;
  background-color: #101010;
  opacity: 0.8;
}
.faq-section .faq-item h5 {
  cursor: pointer;
  margin: 0;
}
.faq-section .faq-item .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.faq-section .faq-item p {
  margin: 0;
  margin-top: 20px;
}
.faq-section .faq-item .active {
  max-height: 200px;
}/*# sourceMappingURL=style.css.map */