@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
}

.site-header {
  font-weight: 300;
  letter-spacing: 3px;
}
.site-header a {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}
.site-header .search a {
  font-size: 14px;
}

.slider-section {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.slider-section .shop-btn a {
  color: #ffffff;
  font-size: 17px;
}
.slider-section .shop-btn a:hover {
  color: #000000;
}

.categories-section h1 {
  font-weight: 300;
  letter-spacing: 10px;
}
.categories-section h3 {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.products-section {
  color: #000000;
  letter-spacing: 1px;
}
.products-section .txt {
  font-weight: 300;
  font-size: 20px;
  color: #949494;
}
.products-section .discount-box {
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
}
.products-section .product-details {
  text-align: center;
}
.products-section .product-details .product-name a {
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.products-section .product-details .product-price {
  font-size: 16px;
}
.products-section .product-details .price-regular {
  font-weight: 600;
}
.products-section .product-details .price-old {
  font-weight: 400;
  color: #949494;
}

.collection-section h1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
}
.collection-section p {
  font-weight: 300;
  letter-spacing: 1px;
  color: #949494;
}
.collection-section a {
  font-weight: 500;
  font-size: 17px;
  color: #000000;
  text-transform: uppercase;
}

.information-section {
  font-weight: 700;
  text-transform: uppercase;
}
.information-section p {
  font-size: 25px;
  letter-spacing: 1px;
  color: #ffffff;
}
.information-section h1 {
  font-size: 86px;
  letter-spacing: 1px;
}
.information-section a {
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}

.newsletter-section {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.newsletter-section .title {
  font-weight: 700;
  font-size: 40px;
}
.newsletter-section .subtitle {
  font-weight: 400;
  font-size: 15px;
}
.newsletter-section input[type=email] {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
}
.newsletter-section button {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.site-footer {
  color: #ffffff;
  letter-spacing: 2px;
}
.site-footer h5 {
  font-weight: 700;
}
.site-footer li a {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #d9d9d9;
}
.site-footer p {
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .site-header .search a {
    font-weight: 300;
    font-size: 14px;
  }
  .site-header .sidebarmenu a {
    font-weight: 400;
    color: #000000;
  }
  .categories-section h1 {
    letter-spacing: 5px;
  }
  .products-section .product-details .product-name a {
    font-size: 18px;
  }
  .products-section .product-details .product-price {
    font-size: 16px;
  }
  .collection-section h1,
  .collection-section p {
    text-align: center;
  }
  .information-section p {
    font-size: 20px;
  }
  .information-section h1 {
    font-size: 56px;
  }
}
@media screen and (max-width: 768px) {
  .products-section .product-details .product-name a {
    font-size: 14px;
  }
  .products-section .product-details .product-price {
    font-size: 12px;
  }
  .collection-section h1 {
    font-size: 30px;
  }
  .collection-section a {
    font-size: 14px;
  }
  .information-section p {
    font-size: 15px;
  }
  .information-section h1 {
    font-size: 36px;
  }
  .information-section a {
    font-size: 14px;
  }
  .newsletter-section .title {
    font-size: 30px;
  }
  .newsletter-section .subtitle {
    font-size: 13px;
  }
  .newsletter-section input[type=email] {
    font-size: 14px;
  }
  .newsletter-section button {
    font-size: 16px;
  }
}
.slider-section {
  height: 100vh;
}
.slider-section .slider-item {
  position: relative;
}
.slider-section .slider-item .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-section .slider-item .shop-btn a {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 3px 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.slider-section .slider-item .shop-btn a:hover {
  background-color: #ffffff;
  color: #000000;
}
.slider-section .slider-item .shop-btn a:hover {
  animation: none;
}
.slider-section .swiper-pagination-bullet-active {
  background: #ffffff !important;
}

.product-item {
  position: relative;
}
.product-item .product-image {
  position: relative;
  height: 500px;
  width: 100%;
}
.product-item .product-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease-in-out;
}
.product-item .discount-box {
  position: absolute;
  top: 10px;
  right: 17px;
  background-color: #000000;
  padding: 3px 12px;
}
.product-item .product-details {
  position: relative;
}
.product-item .product-details .product-name {
  margin-bottom: 5px;
}
.product-item .product-details .wishlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 26px -5px rgba(111, 104, 104, 0.75);
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  transition: 0.2s ease-in;
}
.product-item:hover #img1 {
  opacity: 0;
}
.product-item:hover .wishlist {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  .product-item .product-details .wishlist {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 768px) {
  .product-item .product-image {
    height: 300px;
  }
}
.category-item {
  position: relative;
  overflow: hidden;
}
.category-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.category-item a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 8;
  transition: 0.2s ease-in-out;
}
.category-item a:hover:after {
  opacity: 1;
}
.category-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.category-item:hover img {
  transform: scale(1.1);
}
.category-item:hover h3 {
  opacity: 1;
  visibility: visible;
}

.site-header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  z-index: 9;
}
.site-header .header-nav a {
  position: relative;
}
.site-header .header-nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}
.site-header .header-nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}
.site-header .header-nav a:hover::before {
  width: 100%;
}
.site-header .header-nav a:hover::after {
  width: 100%;
}
.site-header .header-actions .search {
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.site-header .header-actions .hamburger {
  display: none;
}
.site-header .sidebarmenu {
  display: none;
}

.sticky {
  background-color: black;
  animation: slideDown 0.35s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .site-header .header-logo img {
    width: 30px;
    height: 30px;
  }
  .site-header .header-nav {
    display: none;
  }
  .site-header .header-actions .user {
    display: none;
  }
  .site-header .header-actions .hamburger {
    display: block;
  }
  .site-header .sidebarmenu {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    z-index: 7;
    overflow-y: scroll;
    transition: 0.3s ease-in-out;
  }
  .site-header .sidebarmenu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .site-header .active {
    left: 0;
  }
}
.site-footer {
  background-color: #101010;
}
.site-footer .footer-header {
  padding: 50px 0;
}
.site-footer .footer-header h5 {
  margin-bottom: 25px;
}
.site-footer .footer-header img {
  width: 80px;
  height: 80px;
}
.site-footer .footer-header .menu li:not(:last-child) {
  margin-bottom: 10px;
}
.site-footer .footer-header .social-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.site-footer .footer-header .social-menu a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.site-footer .footer-header .social-menu a:hover {
  color: #000000;
  background-color: #ffffff;
}
.site-footer .bottom-footer {
  background-color: #000000;
  padding: 20px 0;
}
.site-footer .bottom-footer p {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .site-footer .footer-header {
    text-align: center;
  }
  .site-footer .footer-header h5 {
    margin: 25px 0;
  }
  .site-footer .social-menu {
    justify-content: center;
  }
}
.collection-section a {
  background-color: #ffffff;
  display: inline-block;
  padding: 3px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.collection-section a:hover {
  background-color: #000000;
  color: #ffffff;
}
.collection-section .collection-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.information-section {
  background-image: url("/assets/images/1165428802_9_1_1.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 96vh;
  max-width: 100%;
  position: relative;
}
.information-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.information-section .content a {
  background-color: transparent;
  display: inline-block;
  padding: 3px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.information-section .content a:hover {
  background-color: #000000;
  color: #ffffff;
}

.newsletter-section {
  background-color: #E6FFDA;
  height: 60vh;
}
.newsletter-section .title {
  max-width: 45%;
}
.newsletter-section input[type=email] {
  max-width: 343px;
  width: 100%;
  height: 55px;
  border: 1px solid #949494;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0 16px;
  outline: none;
}
.newsletter-section button {
  display: block;
  max-width: 343px;
  width: 100%;
  height: 57px;
  border-radius: 6px;
  background-color: #000000;
  border: 1px solid #000000;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .collection-section a {
    padding: 3px 10px;
  }
  .collection-section .collection-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .information-section {
    background-attachment: local;
    height: 36vh;
  }
  .information-section .content {
    width: 80%;
  }
  .information-section .content a {
    padding: 3px 10px;
  }
  .newsletter-section .title {
    max-width: 85%;
  }
}
.search-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 8;
  padding-top: 5rem;
}
.search-section .search-bar {
  border-bottom: 1px solid #000000;
}
.search-section .search-bar svg path {
  stroke: #000000;
}
.search-section .search-bar input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 0;
}
.search-section .search-bar input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url("/assets/icons/reset.svg") no-repeat 50% 50%;
  background-size: contain;
  opacity: 1;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */