@use "../utils/mixins" as *;

.all-about-section:nth-child(even) {
    flex-direction: row-reverse;
}
.all-about-section {
    display: flex;
    justify-content: space-between;

    .section-text {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 120px;
    }
    .section-grid-title {
        margin-bottom: 10px;
    }
    .section-image {
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center 0;
    }
}
.concept-section {
    .section-image {
        background-image: url("/assets/images/about/company_01_01.jpg");
    }
}
.history-section {
    .section-image {
        background-image: url("/assets/images/about/company_01_02.jpg");
    }
}
.collections-section {
    .section-image {
        background-image: url("/assets/images/about/company_01_03.jpg");
    }
}
.numbers-section {
    .section-image {
        background-image: url("/assets/images/about/company_01_04.jpg");
    }
}
.workwithus-section {
    .section-image {
        background-image: url("/assets/images/about/company_01_05.jpg");
    }
    a {
        @include main-btn(black, white, black, white);
    }
}

@media (max-width: 992px) {
    .all-about-section:nth-child(even) {
        flex-direction: column;
    }
    .all-about-section {
        flex-direction: column;
        .section-text {
            min-height: 50vh;
            padding: 80px 20px 50px;
        }
        .section-image{
            min-height: 50vh;
        }
    }
}
