@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.categories-section {
    .category-item {
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        a {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.2);
                opacity: 0;
                z-index: 8;
                transition: 0.2s ease-in-out;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;
        }

        &:hover {
            h3 {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.trending-section {
    .product-item {
        .product-image {
            position: relative;
            height: 500px;
            width: 100%;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.2s ease-in-out;
            }
        }

        .product-details {
            position: relative;
            .product-name {
                margin-bottom: 5px;
            }
            .wishlist {
                position: absolute;
                top: 0;
                right: 0;
                width: 36px;
                height: 36px;
                padding: 5px;
                background-color: $white;
                border-radius: 50%;
                border: none;
                box-shadow: 0px 8px 13px -6px rgba(162,153,153,0.75);
                opacity: 0;
                visibility: hidden;
                z-index: 9;
            }
        }

        &:hover {
            #img1 {
                opacity: 0;
            }
            .wishlist {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
