@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.collection-section {
    .collection-card {
        a {
            display: inline-block;
            padding: 3px 15px;
            border: 1px solid $black;
            border-radius: 5px;
            background-color: $white;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}

.information-section {
    .section-box {
        background-color: purple;
        background-image: url("/assets/images/1165428802_9_1_1.jpg");
        background-attachment: fixed;
        background-size: cover;
        height: 96vh;
        max-width: 100%;
        position: relative;

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            a {
                display: inline-block;
                padding: 3px 15px;
                border: 1px solid $white;
                border-radius: 5px;
                background-color: $white;              
            }
        }
    }
}
