@use "../utils/variables" as *;

.details-section {
    padding: 7rem 0 3rem;
    .product-main-images {
        .img-display {
            overflow: hidden;
        }
        .img-showcase {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 85vh;
            transition: all 0.5s ease;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        .img-select {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 85vh;
            .img-item {
                height: 20vh;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .img-item:hover {
            opacity: 0.8;
        }
    }
    .product-info-main {
        .product-add-form {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            padding: 30px 0;
        }
        .product-info-colors {
            .colorlabel {
                height: 25px;
                width: 25px;
                cursor: pointer;
                border: 0.3px solid white;
                outline: 0.3px solid $gray;
                position: relative;
                border-radius: 5px;

                input {
                    display: none;
                }
                .markicon {
                    position: absolute;
                }
            }
        }
        .product-info-sizes {
            .sizelabel {
                height: 30px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid $gray;
                position: relative;

                input {
                    display: none;
                }
            }
            .selected {
                background-color: $gray;
            }
        }
        .product-options {
            .product-quantity {
                border: 1px solid $gray;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 10px;
                button {
                    border: 0;
                    background-color: transparent;
                    i {
                        font-size: 14px;
                    }
                }
                input {
                    background-color: transparent;
                    text-align: center;
                    outline: none;
                    border: none;
                    pointer-events: none;
                }
            }
            .addtocart {
                background-color: $footer-bg;
                padding: 7px 15px;
                border: none;
                border-radius: 5px;
                color: white;
            }
            .action-box {
                padding: 5px 10px;
                background-color: white;
                border: 1px solid $gray;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                i {
                    font-size: 18px;
                }
                .solid-icon {
                    color: $red;
                }
                .hidden {
                    display: none;
                }
            }
        }
        .bottom {
            padding-top: 30px;
        }
    }
}
.review-section {
    .main-item {
        overflow: hidden;
        padding-right: 20px;
        .content {
            background-color: rgb(42, 42, 42);
            border-radius: 8px;
            padding: 20px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .bottom {
                .soldtxt {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .review-item {
        .content {
            background-color: #fafafa;
            height: 450px;
            overflow: hidden;
            border-radius: 8px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    ol{
        li{
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 992px) {
    .details-section {
        padding: 6rem 0;
        .product-main-images {
            .img-showcase {
                height: 70vh;
            }
            .img-select {
                height: 70vh;
                .img-item {
                    height: 17vh;
                }
            }
        }
        .product-info-main {
            padding-top: 30px;
        }
    }
    .review-section {
        .main-item {
            .content {
                height: 350px;
            }
        }

        .review-item {
            .content {
                height: 350px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .details-section {
        padding: 5rem 0;
        .product-main-images {
            .img-showcase {
                height: 50vh;
            }
            .img-select {
                height: 50vh;
                .img-item {
                    height: 11vh;
                }
            }
        }
    }
    .review-section {
        .main-item {
            .content {
                height: 300px;
            }
        }

        .review-item {
            .content {
                height: 300px;
            }
        }
    }
}
