@use "../utils/variables" as *;

.shop-products-section {
    padding: 3rem 0;
    .title {
        button {
            border: none;
            background-color: transparent;
            i {
                font-size: 20px;
            }
        }
        .options {
            width: 15%;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            &:focus {
                border-color: $gray !important;
                box-shadow: none !important;
            }
        }
    }
    .filter-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 20%;
        max-height: 100vh;
        background-color: white;
        z-index: 999999;
        overflow-y: scroll;
        transition: 0.6s ease-in-out;
        

        .filter-container {
            padding: 20px;
            .closefiltermenu {
                cursor: pointer;
            }
        }
        .filter-options {
            a {
                color: black;
            }
            .filter-option-item {
                .filter-options-content {
                    .items {
                        height: 220px;
                        overflow-y: auto;
                        background-color: white;
                    }
                    .item {
                        padding: 15px 0;
                        border-bottom: 1px solid rgba(193, 190, 190, 0.466);
                    }
                    .price-input {
                        width: 100%;
                        display: flex;
                        margin: 30px 0 35px;
                    }
                    .price-input .field {
                        display: flex;
                        width: 100%;
                        height: 45px;
                        align-items: center;
                    }
                    .field input {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        font-size: 14px;
                        margin-left: 12px;
                        border-radius: 5px;
                        text-align: center;
                        border: 1px solid #999;
                        -moz-appearance: textfield;
                    }
                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                    .price-input .separator {
                        width: 130px;
                        display: flex;
                        font-size: 19px;
                        align-items: center;
                        justify-content: center;
                    }
                    .slider {
                        height: 5px;
                        position: relative;
                        background: #ddd;
                        border-radius: 5px;
                    }
                    .slider .progress {
                        height: 100%;
                        left: 25%;
                        right: 25%;
                        position: absolute;
                        border-radius: 5px;
                        background: $gray;
                    }
                    .range-input {
                        position: relative;
                    }
                    .range-input input {
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        top: -5px;
                        background: none;
                        pointer-events: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }
                    input[type="range"]::-webkit-slider-thumb {
                        height: 17px;
                        width: 17px;
                        border-radius: 50%;
                        background: rgb(69, 68, 68);
                        pointer-events: auto;
                        -webkit-appearance: none;
                        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                    }
                    input[type="range"]::-moz-range-thumb {
                        height: 17px;
                        width: 17px;
                        border: none;
                        border-radius: 50%;
                        background: $dark-gray;
                        pointer-events: auto;
                        -moz-appearance: none;
                        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                    }
                    .filter-colors {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 10px;
                        margin: 20px 0;
                        .color-item {
                            .color-option {
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                            }
                        }
                    }
                    .filter-sizes {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 10px;
                        margin: 20px 0;
                        .size-item {
                            .size-option {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 50px;
                                height: 28px;
                                padding: 10px;
                                border-radius: 14px;
                                border: 1px solid $gray;
                            }
                        }
                    }
                }
            }
        }
    }
    .active{
        left: 0;
    }
}
